*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}

.navbar{
    height: 70px;
    background-color: rgb(10, 9, 9);
    color: white; 
    display: flex;  
    align-items: center;
    justify-content:space-evenly;
}
/* box 2 */
.nav-logo{
    height:60px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 60px;
    width: 100px;
}
/* box 2 */

.nav-address{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding-right: 10px;
}

.add-first{
    margin-left: 15px;
    font-size:0.8rem;
}
.add-second{
    font-size:1rem;
    font-weight: bold;
}

/**box 3**/
.nav-search{
    display: flex;
    align-items: center;
     height: 60px;
     width: 38rem;
}
.select{
    background-color: #cccccc;
    height: 2rem;
    border-top-left-radius:3px ;
    border-bottom-left-radius:3px ;
}
.select:hover{
    background-color:#f0e0e0;
}
.search-bar{
    height: 2rem;
    width: 30rem;
    

}
.search-icon{
    height: 2rem;
    width: 2rem;
    border-top-right-radius:3px ;
    border-bottom-right-radius:3px ;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

/** box 4 and 5**/
.nav-signin{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
span{
    font-size: .8rem;

}
.nav-second{
    font-size: .95rem;
    font-weight: bold;
}
.nav-cart{
    font-size: 22px;
    height: 60px;
    display: flex;
    align-items: center;
}
.nav-cart>span{
    font-weight: bold;
}

/**panel**/
.panel{
    height: 30px;
    display: flex;
    align-items: center;
    background-color: rgb(2, 28, 59);
}
.panel-bar{
    font-size: large;
    padding-left: 8px;
    color: #ffffff;
}
.panel-bar>span{
    font-size: large;
}
.panel-opt>a{
    text-decoration: none;
    color:#ffffff ;
    padding-left: 14px;
    height:30px ;
}

.heroimg{
    height: 70vh;
    background-image: url('hero_image.jpg');
    background-size: cover;
    background-position: center center;
}

/** border **/

.border{
    border: 2px solid transparent
}
.border:hover{
    border: 1px whitesmoke solid;
    padding-top: 1px;
}
.shoping-box{
    background-color:gray ;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.box1{
    background-color: #ffffff;
    border: 1px solid ;
    height: 240px;
    width: 20%;
    margin-top: 14px;
    padding: 14px 8px;
    display: flex;
    flex-direction: column;
}
.boximg{
    height:200px ;
    background-size: cover;
    margin-top: 10px;
    
}
.box1>a{
    text-decoration: none;
    margin-top: 10px;
}

.botpannel{
    background-color:gray;
    text-align: center;
    color: #ffffff;
    padding-top:8px ;
    padding-bottom:8px ;
    font-size: small;
    margin-top: 22px;
}
.footer{
    display: flex;
    background-color: rgb(2, 28, 59);
    justify-content: space-evenly;
    padding-top: 18px;
}
.col1{
    display: flex;
    flex-direction: column;
    margin: 8px;

}
h5{
    color: white;
}
.col1>a{
    color: white;
    font-size: smaller;
    padding-top: 8px;

}
.col1>a:hover{
    padding-left: 1px;
    text-decoration: underline;
}
